n8n-progress-report-workflow.json
{
  "name": "Progress Report Agent",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 400],
      "webhookId": "progress-report-webhook",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "contains",
              "value2": "📝 Report"
            }
          ]
        }
      },
      "id": "is-report-button",
      "name": "Is Report Button?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "📝 *Progress Report*\n\nPlease describe the work you completed today.\n\nYou can reply with voice or text.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "ask-work-completed",
      "name": "Ask: Work Completed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [650, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Store the chat ID and contractor info in workflow static data\nconst chatId = $input.first().json.message.chat.id;\nconst firstName = $input.first().json.message.from.first_name;\n\n// Initialize conversation state\nreturn {\n  json: {\n    chatId: String(chatId),\n    firstName: firstName,\n    step: 'waiting_work_completed',\n    reportData: {}\n  }\n};"
      },
      "id": "init-conversation",
      "name": "Init Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "wait-for-work-response",
      "name": "Wait for Work Response",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [1050, 300],
      "webhookId": "progress-report-responses",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.message.voice }}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-voice-response",
      "name": "Is Voice Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{$json.message.voice.file_id}}",
        "download": true
      },
      "id": "get-voice-file",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1450, 200],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "temperature": 0
        }
      },
      "id": "transcribe-voice",
      "name": "Transcribe Voice",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [1650, 200],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract transcribed text or regular text\nconst message = $input.first().json;\nlet workCompleted = '';\n\nif (message.text) {\n  // From transcription node\n  workCompleted = message.text;\n} else if (message.message && message.message.text) {\n  // From text message\n  workCompleted = message.message.text;\n}\n\nreturn {\n  json: {\n    chatId: String($('Wait for Work Response').first().json.message.chat.id),\n    firstName: $('Wait for Work Response').first().json.message.from.first_name,\n    workCompleted: workCompleted\n  }\n};"
      },
      "id": "extract-work-completed",
      "name": "Extract Work Completed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "✅ Got it!\n\nWhat's your progress percentage? (0-100)\n\nExample: 50",
        "additionalFields": {}
      },
      "id": "ask-progress-percentage",
      "name": "Ask: Progress %",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2050, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "✅ Progress recorded!\n\nAny issues or delays?\n\nSay 'none' if everything is fine.",
        "additionalFields": {}
      },
      "id": "ask-issues",
      "name": "Ask: Issues",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2050, 500],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "✅ Noted!\n\nDo you need any materials?\n\nSay 'none' if you have everything.",
        "additionalFields": {}
      },
      "id": "ask-materials",
      "name": "Ask: Materials",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2050, 700],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://3000-if9ltlqrw1vuwodmn1x4w-b5b3bb23.manusvm.computer/api/progress-report/submit",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chatId: $json.chatId,\n  firstName: $json.firstName,\n  workCompleted: $json.workCompleted,\n  progressPercentage: $json.progressPercentage,\n  issues: $json.issues,\n  materials: $json.materials\n}) }}",
        "options": {}
      },
      "id": "save-report",
      "name": "Save Report to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 500]
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "✅ *Progress Report Submitted!*\n\nThank you for your update. Your supervisor will review it shortly.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-confirmation",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2450, 500],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Is Report Button?", "type": "main", "index": 0 }]]
    },
    "Is Report Button?": {
      "main": [[{ "node": "Ask: Work Completed", "type": "main", "index": 0 }]]
    },
    "Ask: Work Completed": {
      "main": [[{ "node": "Init Conversation", "type": "main", "index": 0 }]]
    },
    "Init Conversation": {
      "main": [[{ "node": "Wait for Work Response", "type": "main", "index": 0 }]]
    },
    "Wait for Work Response": {
      "main": [[{ "node": "Is Voice Response?", "type": "main", "index": 0 }]]
    },
    "Is Voice Response?": {
      "main": [
        [{ "node": "Get Voice File", "type": "main", "index": 0 }],
        [{ "node": "Extract Work Completed", "type": "main", "index": 0 }]
      ]
    },
    "Get Voice File": {
      "main": [[{ "node": "Transcribe Voice", "type": "main", "index": 0 }]]
    },
    "Transcribe Voice": {
      "main": [[{ "node": "Extract Work Completed", "type": "main", "index": 0 }]]
    },
    "Extract Work Completed": {
      "main": [[{ "node": "Ask: Progress %", "type": "main", "index": 0 }]]
    },
    "Ask: Progress %": {
      "main": [[{ "node": "Ask: Issues", "type": "main", "index": 0 }]]
    },
    "Ask: Issues": {
      "main": [[{ "node": "Ask: Materials", "type": "main", "index": 0 }]]
    },
    "Ask: Materials": {
      "main": [[{ "node": "Save Report to Database", "type": "main", "index": 0 }]]
    },
    "Save Report to Database": {
      "main": [[{ "node": "Send Confirmation", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-11-18T19:00:00.000Z",
  "versionId": "progress-report-v1"
}
