n8n-telegram-bot-fixed.json
{
  "name": "Telegram Bot - AI Chatbot (Fixed Voice)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "telegram-bot-webhook",
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-voice",
      "name": "Has Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "get: file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "get-voice-file",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [650, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "",
          "temperature": 0,
          "prompt": "Transcribe this voice message from a construction contractor. They may be speaking English, Spanish, or Creole."
        }
      },
      "id": "transcribe-voice",
      "name": "Transcribe Voice",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [850, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for voice message\nconst telegramData = $input.first().json;\nconst transcription = $('Transcribe Voice').first().json;\n\nreturn {\n  json: {\n    chatId: String(telegramData.message.chat.id),\n    firstName: telegramData.message.from.first_name || 'User',\n    messageType: 'voice',\n    message: transcription.text || '',\n    originalLanguage: transcription.language || 'unknown'\n  }\n};"
      },
      "id": "prepare-voice-data",
      "name": "Prepare Voice Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for text message\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    chatId: String(data.message.chat.id),\n    firstName: data.message.from.first_name || 'User',\n    messageType: 'text',\n    message: data.message.text || ''\n  }\n};"
      },
      "id": "prepare-text-data",
      "name": "Prepare Text Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://3000-if9ltlqrw1vuwodmn1x4w-b5b3bb23.manusvm.computer/api/telegram/handle-message",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatId",
              "value": "={{ $json.chatId }}"
            },
            {
              "name": "firstName",
              "value": "={{ $json.firstName }}"
            },
            {
              "name": "messageType",
              "value": "={{ $json.messageType }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-to-server",
      "name": "Send to Server",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $('Send to Server').first().json.response || 'Sorry, something went wrong.' }}",
        "additionalFields": {}
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1450, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Has Voice?", "type": "main", "index": 0 }]]
    },
    "Has Voice?": {
      "main": [
        [{ "node": "Get Voice File", "type": "main", "index": 0 }],
        [{ "node": "Prepare Text Data", "type": "main", "index": 0 }]
      ]
    },
    "Get Voice File": {
      "main": [[{ "node": "Transcribe Voice", "type": "main", "index": 0 }]]
    },
    "Transcribe Voice": {
      "main": [[{ "node": "Prepare Voice Data", "type": "main", "index": 0 }]]
    },
    "Prepare Voice Data": {
      "main": [[{ "node": "Send to Server", "type": "main", "index": 0 }]]
    },
    "Prepare Text Data": {
      "main": [[{ "node": "Send to Server", "type": "main", "index": 0 }]]
    },
    "Send to Server": {
      "main": [[{ "node": "Send Response", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-18T12:00:00.000Z",
  "versionId": "fixed-voice-v1"
}
