n8n-telegram-bot-workflow.json
{
  "name": "Job Tracker - Telegram AI Bot (Central Router)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "telegram-bot-webhook",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.voice}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Voice Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fileId": "={{$json.message.voice.file_id}}"
      },
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.SERVER_URL}}/api/telegram/transcribe-voice",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileUrl",
              "value": "={{$json.result.file_path}}"
            },
            {
              "name": "chatId",
              "value": "={{$node[\"Telegram Trigger\"].json.message.chat.id}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Transcribe Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "messageText",
              "value": "={{$json.transcription || $node[\"Telegram Trigger\"].json.message.text}}",
              "type": "string"
            },
            {
              "name": "chatId",
              "value": "={{$node[\"Telegram Trigger\"].json.message.chat.id}}",
              "type": "string"
            },
            {
              "name": "firstName",
              "value": "={{$node[\"Telegram Trigger\"].json.message.from.first_name}}",
              "type": "string"
            },
            {
              "name": "messageType",
              "value": "={{$node[\"Has Voice Message?\"].json.message.voice ? 'voice' : 'text'}}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Prepare Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are the central routing agent for a construction job tracking Telegram bot. Analyze the contractor's message and determine the intent:\n\n**Intent Categories:**\n1. **assignment_acknowledgment** - Messages like \"ACCEPT\", \"I accept\", \"OK\", \"Confirmed\" (acknowledging job assignments)\n2. **reminder_reply** - Responses to morning check-in or evening reminders (\"I'm working\", \"Can't work today\", \"Finished for today\")\n3. **query** - Questions about jobs, budgets, payments, assignments (\"How many jobs?\", \"What's my payment?\", \"Show budget\")\n4. **progress_report** - Detailed work updates (\"Completed stair painting\", \"Finished 3 rooms today\")\n5. **general** - Greetings, help requests, unclear messages\n\nReturn JSON with:\n{\n  \"intent\": \"<category>\",\n  \"confidence\": <0-1>,\n  \"extractedData\": {\n    \"isAcknowledgment\": boolean,\n    \"isReminderReply\": boolean,\n    \"queryType\": \"jobs|budget|payment|assignments|general\",\n    \"sentiment\": \"positive|negative|neutral\"\n  }\n}"
            },
            {
              "role": "user",
              "content": "={{$json.messageText}}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        },
        "responseFormat": "json"
      },
      "name": "Central Router Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.intent}}",
              "value2": "assignment_acknowledgment"
            }
          ]
        }
      },
      "name": "Route: Assignment?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1450, 300],
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.intent}}",
                    "value2": "assignment_acknowledgment"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "assignment"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.intent}}",
                    "value2": "reminder_reply"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "reminder"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.intent}}",
                    "value2": "query"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "query"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{$json.intent}}",
                    "value2": "progress_report"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "report"
            }
          ]
        },
        "fallbackOutput": "general"
      }
    },
    {
      "parameters": {
        "url": "={{$env.SERVER_URL}}/api/telegram/acknowledge-assignment",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatId",
              "value": "={{$node[\"Prepare Message Data\"].json.chatId}}"
            },
            {
              "name": "message",
              "value": "={{$node[\"Prepare Message Data\"].json.messageText}}"
            }
          ]
        }
      },
      "name": "Assignment Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "url": "={{$env.SERVER_URL}}/api/telegram/reminder-reply",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatId",
              "value": "={{$node[\"Prepare Message Data\"].json.chatId}}"
            },
            {
              "name": "message",
              "value": "={{$node[\"Prepare Message Data\"].json.messageText}}"
            },
            {
              "name": "messageType",
              "value": "={{$node[\"Prepare Message Data\"].json.messageType}}"
            }
          ]
        }
      },
      "name": "Reminder Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 250]
    },
    {
      "parameters": {
        "url": "={{$env.SERVER_URL}}/api/telegram/ai-query",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatId",
              "value": "={{$node[\"Prepare Message Data\"].json.chatId}}"
            },
            {
              "name": "message",
              "value": "={{$node[\"Prepare Message Data\"].json.messageText}}"
            },
            {
              "name": "firstName",
              "value": "={{$node[\"Prepare Message Data\"].json.firstName}}"
            }
          ]
        }
      },
      "name": "Query Agent (AI Chatbot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "url": "={{$env.SERVER_URL}}/api/telegram/save-progress-report",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatId",
              "value": "={{$node[\"Prepare Message Data\"].json.chatId}}"
            },
            {
              "name": "report",
              "value": "={{$node[\"Prepare Message Data\"].json.messageText}}"
            }
          ]
        }
      },
      "name": "Report Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 550]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Prepare Message Data\"].json.chatId}}",
        "text": "={{$json.response || $json.message || 'I received your message. How can I help you?'}}",
        "additionalFields": {}
      },
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1850, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Has Voice Message?", "type": "main", "index": 0}]]
    },
    "Has Voice Message?": {
      "main": [
        [{"node": "Get Voice File", "type": "main", "index": 0}],
        [{"node": "Prepare Message Data", "type": "main", "index": 0}]
      ]
    },
    "Get Voice File": {
      "main": [[{"node": "Transcribe Voice", "type": "main", "index": 0}]]
    },
    "Transcribe Voice": {
      "main": [[{"node": "Prepare Message Data", "type": "main", "index": 0}]]
    },
    "Prepare Message Data": {
      "main": [[{"node": "Central Router Agent", "type": "main", "index": 0}]]
    },
    "Central Router Agent": {
      "main": [[{"node": "Route: Assignment?", "type": "main", "index": 0}]]
    },
    "Route: Assignment?": {
      "main": [
        [{"node": "Assignment Agent", "type": "main", "index": 0}],
        [{"node": "Reminder Agent", "type": "main", "index": 0}],
        [{"node": "Query Agent (AI Chatbot)", "type": "main", "index": 0}],
        [{"node": "Report Agent", "type": "main", "index": 0}],
        [{"node": "Send Response", "type": "main", "index": 0}]
      ]
    },
    "Assignment Agent": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    },
    "Reminder Agent": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    },
    "Query Agent (AI Chatbot)": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    },
    "Report Agent": {
      "main": [[{"node": "Send Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-18T10:00:00.000Z",
  "versionId": "1"
}
